.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.cola {
    background-color: aqua;
}
.colb {
    background-color: palevioletred;
}
.colc {
    background-color: aqua;
}
.cold {
    background-color: palevioletred;
}
.cole {
    background-color: aqua;
}
.colf {
    background-color: palevioletred;
}
.colg {
    background-color: aqua;
}
.colh {
    background-color: palevioletred;
}